<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rahman_profile.flutter_bt_print">


    <!-- 🔵 Bluetooth permissions -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- Android 12+ -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <!-- Required for device discovery -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 📂 File picker (PDF / Image) -->
    <queries>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
            <data android:mimeType="application/pdf" />
        </intent>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
            <data android:mimeType="image/*" />
        </intent>
    </queries>

    <application />
</manifest>
